body{
	font-family: Tahoma,Geneva,Arial,sans-serif;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 20px;
}
h1,h2{
	margin-left: 50px;
}
fieldset{border-radius: 10px;}
a{
	color: black;
}a:hover{
	color: blue;
	cursor: pointer;
}a:active{
	color: red;
	opacity: .5;
}
.hidden{display:none;}
